@import '../../index.css';
.car_item {
  width: 274px;
  height: 426px;
}
.car_img_box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
  background: linear-gradient(#12141780, #12141700);
}
.car_img {
  width: max-content;
  height: 100%;
}
.icon_heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;
  stroke: #ffffffcc;
  stroke-width: 1.5px;
  fill: transparent;
  transition: stroke 250ms linear, fill 250ms linear;
}
.icon_heart_full {
  fill: #3470ff;
}

.icon_heart:is(:hover, :focus) {
  stroke: #3470ff;
  fill: #3470ff;
}
.car_name {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 0;
  color: #121417;
  margin-bottom: 8px;
}
.car_model {
  color: #3470ff;
}
.car_options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 58px;
  color: #12141780;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.options_wrap_first {
  white-space: nowrap;
}
.options_wrap_second {
  line-height: 1.66;
}
.hr {
  display: inline;
  margin-left: 6px;
  margin-right: 6px;
  width: 1px;
  height: 12px;
  color: #1214171a;
}
