.button {
  display: flex;
  min-width: 136px;
  height: 48px;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #3470ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
  letter-spacing: 0%;
  transition: background-color 250ms linear;
}
.button:is(:hover, :focus) {
  background-color: #0b44cd;
}
