.big_button {
  display: flex;
  margin: 0 auto;
  min-width: 274px;
  height: 44px;
  padding: 12px 99px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #3470ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
  letter-spacing: 0;
  white-space: nowrap;
  transition: background-color 250ms linear;
}
.big_button:is(:hover, :focus) {
  background-color: #0b44cd;
}
