.search_form {
  display: flex;
}
.search_inputs {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  margin: 0 auto 50px auto;
}
.select_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input_wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.input_place {
  position: absolute;
  top: 16px;
  left: 18px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0%;
  z-index: 1;
}
.form_input {
  width: 160px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding: 14px 18px 14px 72px;
  border-radius: 14px 0px 0px 14px;
  background: #f7f7fb;
  outline: none;
  border-color: transparent;
}
.form_input.second {
  border-radius: 0px 14px 14px 0px;
  padding: 14px 18px 14px 48px;
}
.last_inputs {
  display: flex;
  align-items: flex-end;
}
.form_btn {
  display: flex;
  width: 136px;
  height: 48px;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #3470ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
}
.select {
  padding: 14px 89px 14px 18px;
  font-family: 'Manrope';
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0%;
  border-radius: 14px;
  border-color: transparent;
  background: #f7f7fb;
}
.select_price {
  padding: 14px 46px 14px 40px;
  word-spacing: 8px;
}
.select_wrap {
  position: relative;
}
.option {
  font-size: 14px;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  background: #ffffff;
}
