@import '../../index.css';

.section {
  width: 100%;
}
.cars_container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
}
.load_more {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #3470ff;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: transparent;
  text-decoration-line: underline;
  transition: color 250ms linear;
}
.load_more:is(:hover, :focus) {
  color: #0b44cd;
}
