@import '../../index.css';
.section {
  width: 100%;
}
.home_container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 128px;
  outline: 2px solid red;
  height: 100vh;
  padding-top: 72px;
}
.home_text {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 72px;
}
